<div class="container">
  <div class="header">
    <div class="heading">Interests</div>
   
  
 
    <div (click)="CloseDialog()" class="close-icon">
      <img src="../../../../../assets/images/close.svg">
    </div>
  </div>
 
     <div class="frame ">
   
      <button class="custom-btn btn-1"><span>Online</span></button>
      <button class="custom-btn btn-2"><span>Workshops</span></button>
      <button class="custom-btn btn-3"><span>Comedy Shows</span></button>
      <button class="custom-btn btn-4"><span>Kids</span></button>
      <button class="custom-btn btn-5"><span>Performance</span></button>
      <button class="custom-btn btn-6"><span>Screening</span></button>
      <button class="custom-btn btn-7"><span>Music Shows</span></button>
      <button class="custom-btn btn-8"><span>Concerts</span></button>
      <button class="custom-btn btn-9"><span>Vaccination</span></button>
      <button class="custom-btn btn-10"><span>Talks</span></button>
      <button class="custom-btn btn-11"><span>Wishes</span><div class="dot"></div></button>
      <button class="custom-btn btn-12"><span>Click!</span><span>Award Shows</span></button>
      <button class="custom-btn btn-13"><span>Meetups</span></button>
      <button class="custom-btn btn-14"><span>Photography</span></button>
     
    </div>

    
</div>


  
