<div class="container">
  <div class="profile">
      <div *ngIf="userService.user.userType===UserType.Audience" class="edit">
        <div (click)="OpenInterests()" class="edit-interests">
          <span>Edit Interests</span>
          <img src="../../../../../assets/images/edit.svg">
        </div>
      </div>
      <div class="user-details">
          <img src="../../../../../assets/images/user.png">
          <ul class="list">
            <li class="item"><b>Name:</b> {{userService.user.name}}</li>
            <li class="item"><b>Email:</b> {{userService.user.email}}</li>
            <li *ngIf="userService.user.userType===UserType.Audience" class="item"><b>Interests:</b> {{GetInterestsList()}}</li>
          </ul>
      </div>
      <div class="content">
          <div class="row">
          </div>
      </div>
      <div class="footer">

      </div>
  </div>
</div>
