<main class="container">
    <div class="reset-box">
        <h1 class="head-text">OwnEvents</h1>
        <h6 class="rst-text">Reset Password</h6>
        <div class="error" *ngIf="errorMessage">
            <span>{{errorMessage}}</span>
        </div>
  
        <form class="form" #submitForm="ngForm" (ngSubmit)="reset()" novalidate>
            <div [formGroup]="resetForm" class="input-field">
                <input class="input" [class.error-input]="submitForm.submitted && !resetForm.get('oldPassword').valid"
                 formControlName="oldPassword" type="password" placeholder="Enter Previous Password">
            </div>
            <div [formGroup]="resetForm" class="input-field">
                <input class="input" [class.error-input]="submitForm.submitted && !resetForm.get('newPassword').valid"
                 formControlName="newPassword" type="password" placeholder="Enter New Password">
            </div>
            <div [formGroup]="resetForm" class="input-field">
                <input class="input" [class.error-input]="submitForm.submitted && !resetForm.get('rePassword').valid"
                 formControlName="rePassword" type="password" placeholder="Re-Enter New Password">
            </div>
   
            <div class="footer">
                <button class="reset-button">Reset</button>
                
            </div>
        </form>
    </div>
  </main>
  
