<div class="main-container">

  <app-loader *ngIf="isLoading"></app-loader>

  <div class="header" [style.justify-content]="userType === UserType.Audience ? 'space-between' : 'center'"
    [style.display]="isNavBarOpen ? 'none' : 'flex'">
    <button *ngIf="userType === UserType.Audience" (click)="showMyInterests = !showMyInterests" class="interests-btn">
      <span *ngIf="showMyInterests">My Interests</span>
      <span *ngIf="!showMyInterests">All Events</span>
    </button>
    <div class="search-bar">
      <input class="input" type="text" [(ngModel)]="searchText" placeholder="Search...">
      <div class="header-image">
        <img src="../../../../../assets/images/search-icon.png">
      </div>
    </div>
  </div>
  <div class="container">
    <ng-container *ngFor="let item of events;let i=index">
      <div class="image-block" [class.disabled]="(item.capacity===item.participantIds.length || CheckIfAlreadyBooked(item)) && userType===UserType.Audience"
        *ngIf="CheckIfSearchTextExists(item.eventName) && (!showMyInterests || CheckIfInterestMatches(item.interests))">
        <div class="user-block">
          <div class="user-details">
            <!-- <img src="../../../../../assets/user.png"> -->
            <span>{{item.eventName}}</span>
          </div>
          <!-- <div class="options">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div> -->
        </div>
        <div class="image-container">
          <div class="arrow arrow-left" (click)="MoveImage(i,-1)">
            <img src="../../../../../assets/images/arrow.png">
          </div>
          <div class="image">
            <img *ngIf="item.images.length" [src]="assetService.GetImageUrl(item.images[imageIndexes[i]])">
            <img *ngIf="!item.images.length" src="" alt="not available">
          </div>
          <div class="arrow arrow-right" (click)="MoveImage(i,1)">
            <img src="../../../../../assets/images/arrow-right.png">
          </div>
        </div>
        <div class=footer>
          <div class="footer-item ar-view" *ngIf="item.arModel && item.arModel.length"><span (click)="OpenLiveView(item.arModel)">View Live Model</span></div>
          <div class="footer-item desc">{{item.description}}</div>
          <div class="footer-item category">
            <ng-container  *ngFor="let interest of item.interests">
              <div class="chip"  [class.chip-red]="!CheckIfInterestMatches([interest]) && userType===UserType.Audience">
                <div class="chip-content">{{GetInterestName(interest)}}</div>
              </div>
            </ng-container>
          </div>
          <div class="footer-item time">{{GetMomentDate(item.startDateAndTime)}} -
            {{GetMomentDate(item.endDateAndTime)}}</div>
          <div class="footer-item capacity"><span style="font-weight: bolder;">Capacity</span>- {{item.participantIds.length}}/{{item.capacity}}</div>
          <div class="footer-item capacity" *ngIf="item.location?.address"><span style="font-weight: bolder;">Address</span>- {{item.location.address}}</div>
          <div class="footer-item book-btn" *ngIf="userType === UserType.Audience">
            <button [class.disabled]="(item.capacity===item.participantIds.length || CheckIfAlreadyBooked(item)) && userType===UserType.Audience"
              (click)="OpenBookingEditor(item.id)">Book Now</button></div>
          <div class="footer-item book-btn" *ngIf="userType === UserType.Organizer">
            <button [class.disabled]="(item.capacity===item.participantIds.length || CheckIfAlreadyBooked(item)) && userType===UserType.Audience"
              (click)="OpenEventEditor(item,i)">Edit</button></div>
          <div class="footer-item more-btn" *ngIf="userType === UserType.Organizer">
            <button (click)="ShowBookings(item)">Show Bookings</button>
            <button [class.disabled]="(item.capacity===item.participantIds.length || CheckIfAlreadyBooked(item)) && userType===UserType.Audience"
            (click)="CancelEvent(item,i)">Delete Event</button></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
