<div class="main-container">
  <div class="header" [style.display]="isNavBarOpen ? 'none' : 'flex'" >
    <button class="interests-btn">My Interests</button>
    <div class="search-bar">
      <input class="input" type="text" placeholder="Search...">
      <div class="header-image">
        <img src="../../../../../assets/images/search-icon.png">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="image-block">
      <div class="user-block">
        <div class="user-details">
          <!-- <img src="../../../../../assets/user.png"> -->
          <span>Coldplay concert</span>
        </div>
        <div class="options">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="image-container">
        <div class="arrow arrow-left">
          <img src="../../../../../assets/images/arrow.png">
        </div>
        <div class="image">
          <img src="../../../../../assets/images/background-wallpaper.jpg">
        </div>
        <div class="arrow arrow-right">
          <img src="../../../../../assets/images/arrow-right.png">
        </div>
      </div>
      <div class=footer>
        <div class="footer-item desc">This is the description here you can write anything you want.</div>
        <div class="footer-item category">
          <div class="chip">
            <div class="chip-content">Concert</div>
          </div>
          <div class="chip  chip-red">
            <div class="chip-content">Something</div>
          </div>
          <div class="chip  chip-red">
            <div class="chip-content">Adventure</div>
          </div>
        </div>
        <div class="footer-item time">June'19 12:30pm - June'19 1:30pm</div>
        <div class="footer-item capacity">Capacity- 10/50</div>
        <div class="footer-item book-btn"><button>Book Now</button></div>
      </div>
    </div>
    <div class="image-block">
      <div class="user-block">
        <div class="user-details">
          <!-- <img src="../../../../../assets/user.png"> -->
          <span>Coldplay concert</span>
        </div>
        <div class="options">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="image-container">
        <div class="arrow arrow-left">
          <img src="../../../../../assets/images/arrow.png">
        </div>
        <div class="image">
          <img src="../../../../../assets/images/background-wallpaper.jpg">
        </div>
        <div class="arrow arrow-right">
          <img src="../../../../../assets/images/arrow-right.png">
        </div>
      </div>
      <div class=footer>
        <div class="footer-item desc">This is the description here you can write anything you want.</div>
        <div class="footer-item category">
          <div class="chip chip-red">
            <div class="chip-content">Concert</div>
          </div>
          <div class="chip">
            <div class="chip-content">Concert</div>
          </div>
        </div>
        <div class="footer-item time">June'19 12:30pm - June'19 1:30pm</div>
        <div class="footer-item capacity">Capacity- 10/50</div>
        <div class="footer-item book-btn"><button>Book Now</button></div>
      </div>
    </div>
  </div>
</div>
