.main-container {
  .header {
    position: fixed;
    width: 100%;
    height: 22px;
    top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

    .interests-btn {
      background-color: #4c63ca;
      color: #ffffff;
      border-style: solid;
      border-radius: 5px;
      border-width: 1px;
      border-color: black;
      height: 100%;
      padding: 0px 10px;
    }

    .search-bar {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        height: 100%;
        border-style: solid;
        border-radius: 5px 0px 0px 5px;
        border-width: 2px;
        border-color: black;
        text-align: center;
      }

      .header-image {
        width: 30px;
        background-color: rgb(76, 99, 202);
        border-radius: 0px 5px 5px 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 90%;
        }
      }
    }

  }

  .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0rem;

    .image-block {
      border-radius: 5px;
      background-color: white;
      display: flex;
      width: 400px;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;
      height: inherit;
  

      .user-block {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 2px;

        .user-details {
          display: flex;
          align-items: center;

          img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            margin-right: 10px;
          }

          span {
            font-family: 'lobster', cursive;
            font-size: 1.2rem;
          }
        }

        .options {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          .line {
            border-radius: 50%;
            width: 5px;
            background-color: black;
            height: 5px;
            margin-left: 1px;
          }
        }
      }

      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .arrow {
          cursor: pointer;
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 30px;
          }
        }

        .image {
          display: block;
          height: 82%;
          width: 80%;
          image-orientation: inherit;

          img {
            width: 100%;
          }
        }
      }

      .footer {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 7px 2px;

        .footer-item {
          padding-bottom: 5px;
        }

        .desc {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .heading {
            font-weight: bolder;
          }

          .items {
            width: 95%;
            .values{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }

        .chip {
          display: inline-flex;
          flex-direction: row;
          background-color: #cdfdd1;
          border: none;
          cursor: default;
          height: 20px;
          outline: none;
          padding: 0;
          font-size: 14px;
          color: #0e8518;
          font-family: "Open Sans", sans-serif;
          white-space: nowrap;
          align-items: center;
          border-radius: 16px;
          vertical-align: middle;
          text-decoration: none;
          justify-content: center;
          margin: 2px;

          &.chip-red {
            background-color: #ffebe5;
            color: #9b2406;
          }

          .chip-content {
            cursor: inherit;
            display: flex;
            align-items: center;
            user-select: none;
            white-space: nowrap;
            padding-left: 12px;
            padding-right: 12px;
          }
        }

        .book-btn {
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;

          button {
            cursor: pointer;
            color: #ffffff;
            border-width: 0px;
            border-radius: 4px;
            background-color: #2e7534;
            font-size: inherit;
            height: 30px;
            width: 95%;
          }
        }

        .cancel-btn {
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;

          button {
            cursor: pointer;
            color: #ffffff;
            border-width: 0px;
            border-radius: 4px;
            background-color: #751c1c;
            font-size: inherit;
            height: 30px;
            width: 95%;
          }
        }

      }
    }

    .disabled {
      pointer-events: none;

      button {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width:450px) {
  .main-container {
    .container {
      .image-block {
        width: 90%;
      }
    }
  }
}
