  <div *ngIf="isloading"></div>
  <div *ngIf="!isloading">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">OwnEvents</label>
      <ul>
        <li [routerLink]="['updates']"><a [class.active]="CheckActiveLink('updates')">Home</a></li>
        <li><a href="#">Bookings</a></li>
        <li [routerLink]="['profile']"><a [class.active]="CheckActiveLink('profile')">Profile</a></li>
        <li (click)="Logout()"><a>Logout</a></li>
      </ul>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>

