  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">OwnEvents</label>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">Create Event</a></li>
      <li><a href="#">Event Booking</a></li>
      <li><a href="#">Event Scheduling</a></li>
      <li><a href="#">Venues</a></li>
      <li><a href="#">Event Reviews</a></li>
    </ul>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
