<main class="container">
    <div class="forgot-box">
        <h1 class="head-text">OwnEvents</h1>
        <h6 class="frg-text">Forgot Password</h6>
        <div class="error" *ngIf="errorMessage">
            <span>{{errorMessage}}</span>
        </div>
  
        <form class="form" #submitForm="ngForm" (ngSubmit)="noti()" novalidate>
            <div [formGroup]="forgotForm" class="input-field">
                <input class="input" [class.error-input]="submitForm.submitted && !forgotForm.get('email').valid"
                 formControlName="email" type="email" placeholder="Enter Email...">
            </div>
       
            <div class="footer">
                <button class="forgot-button">Send Link</button>
                
            </div>
        </form>
    </div>
  </main>
